/*Titillium Font via Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');

@import "/load.php?mode=articles&articles=u:dev:MediaWiki:CustomSlider.css&only=styles";
@import "http://dev.wikia.com/load.php?mode=articles&articles=Highlight/code.css&only=styles";

/*Minecraft style font, but the margins are horrible*/
@font-face {  
	font-family:"Minecraftia Regular";  
	src:url("https://static.wikia.nocookie.net/teenagersserver/images/3/32/Minecraftia-Regular.ttf/revision/latest?cb=20210221062903&format=original");   
}  

.WikiaPageHeader {
	font-family: 'Titillium Web';
}

h1, h2, h3, h4 {
	font-family: 'Titillium Web';
	font-weight: bold;
}

.wds-community-header, .WikiaPage .page-header__title {
	font-family: 'Titillium Web';
}

.infobox {
border: none;
}

/*Mod formatted profile links*/
a[href="/wiki/User:Cooopl"], a[href="/wiki/User:Submadoge"] { 
	color: #385ef5 !important;
	font-weight:bold !important;
	transition: color 0.5s ease-in-out;
}

/*Mod formatted profile links (shadow when hovered over)*/
a[href="/wiki/User:Cooopl"]:hover, a[href="/wiki/User:Submadoge"]:hover {
	font-weight:bold;
	text-shadow:0px 0px 4px #1d2f78;
}
